---
layout: default
title: 归档
---
<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<div class="post-content">
{% if site.posts.size %}
    <p>共有 {{ site.posts.size }} 篇日志。</p>
    {% for post in site.posts %}
        {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if forloop.first %}
    <h3>{{ post_year }}</h3>
    <ul class="post-list">
        {% endif %}
        {% unless forloop.first %}
            {% assign previous_index = forloop.index0 | minus: 1 %}
            {% capture previous_post_year %}{{ site.posts[previous_index].date | date: '%Y' }}{% endcapture %}
            {% if post_year != previous_post_year %}
    </ul>
    <h3>{{ post_year }}</h3>
    <ul class="post-list">
            {% endif %}
        {% endunless %}
        <li class="archive-item">
            <div class="meta">{{ post.date | date: "%m-%d" }}</div>
            <div class="linkwrapper">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>
        </li>
        {% if forloop.last %}
    </ul>
        {% endif %}
    {% endfor %}
{% else %}
    <p>没有日志。</p>
{% endif %}
</div>
