---
layout: index
toc: true
---

{% for collection in site.collections %}
{% if collection.label == 'posts' %}{% continue %}{% endif %}

{% capture label %}{% if site.data.notes[collection.label] %}{{ site.data.notes[collection.label] }}
{% else %}{{collection.label}}{%endif%}{%endcapture%}

<div class="docs-list">
    <h2>{{ label }}</h2>
    {% for note in collection.docs %}
    <a href="{{ note.url }}">
        <span class="title">{{ note.title }}</span>
    </a>
    {% endfor %}
</div>
{% endfor %}
