---
layout: default
---

<div class="home clearfix">

    <div class="left-box">
        <h1 class="page-heading">所有日志（共 {{ site.posts.size }} 篇）</h1>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right-box">
        <h1 class="page-heading">日志分类</h1>
        <ul class="category-list">
            {% for category in site.my_categories %}
            <li><a href="{{ category.url | prepend: site.baseurl }}">{{ category.name }} ({{ site.categories[category.slug].size }})</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
