---
layout: default
---

<div class="home clearfix">
    <div class="left-box">
        <h1 class="page-heading">日志</h1>
        <ul class="post-list clearfix">
            {% for post in paginator.posts %}
            <li>
                <a class="plain-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
            </li>
            {% endfor %}
        </ul>
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
        {% if paginator.previous_page %}
        <a class="plain-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a>
        {% else %}
        <span class="grey-color">&laquo; 上一页</span>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em class="grey-color">{{ page }}</em>
        {% elsif page == 1 %}
          <a class="plain-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a class="plain-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <a class="plain-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a>
        {% else %}
        <span class="grey-color">下一页 &raquo;</span>
        {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="right-box">
        <h1 class="page-heading">日志分类</h1>
        <ul class="category-list">
            {% for category in site.my_categories %}
            <li><a class="plain-link" href="{{ category.url | prepend: site.baseurl }}">{{ category.name }} ({{ site.categories[category.slug].size }})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
