<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url}}"></div>
<a href="javascript:void(0)" id="disqusOpt">Use Disqus</a>
<div id="disqus_thread"></div>
<script>
    var duoshuoQuery = {
        short_name: "{{ site.duoshuo_id }}"
    };

    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] ||
            document.getElementsByTagName('body')[0]).appendChild(ds);
    })();

    var runDisqus = function() {
        var disqus_config = function() {
            this.page.url = "{{ site.url }}{{ page.url }}";
            this.page.identifier = "{{ page.id }}";
            this.page.title = "{{ page.title }}";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');

            s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        document.getElementById("disqusOpt").style.display = "none";
    };

    document.getElementById("disqusOpt").onclick = runDisqus;
</script>
