<script type="text/javascript" src="{{ "/assets/svg4everybody.min.js " | prepend: site.baseurl }}"></script>
<script>svg4everybody();</script>
<div class="contact-me">
    <small class="post-meta">关注我：</small>
    <a href="https://twitter.com/{{ site.twitter_username }}"><svg role="img" class="icon"> <use xlink:href="{{ site.baseurl }}/assets/image/icon.svg#twitter"></use></svg><!--[if lt IE 9]>Twitter<![endif]--></a>
    <a href="https://github.com/{{ site.github_username }}"><svg role="img" class="icon"><use xlink:href="{{ site.baseurl }}/assets/image/icon.svg#github"></use></svg><!--[if lt IE 9]>GitHub<![endif]--></a>
    <br>
    <small class="post-meta">联系我：</small>
    <a href="mailto:{{ site.email }}"><svg role="img" class="icon"><use xlink:href="{{ site.baseurl }}/assets/image/icon.svg#mail"></use></svg><!--[if lt IE 9]>Email<![endif]--></a>
</div>
