<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button data-js-navbtn class="cmn-toggle-switch cmn-toggle-switch__htx">
            <span></span>
        </button>
        <ul data-js-navlist class="nav-list">
            <li class="item"><a class="link" href="{{ "/about/" | prepend: site.baseurl }}">关于</a></li>
            <li class="item"><a class="link" href="{{ "/notes/" | prepend: site.baseurl }}">笔记</a></li>
            <li class="item"><a class="link" href="{{ "/archives/" | prepend: site.baseurl }}">归档</a></li>
            <li class="item"><a class="link" href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed</a></li>
        </ul>
    </div>
</header>
