{% if page.toc %}
<div data-js-toc class="toc"></div>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        Util.createTOC('.toc-src', '[data-js-toc]', true);
        document.querySelector('[data-js-toc]>ul').addEventListener('click',function (event) {
            var target = event.target;
            var hash = target.hash;
            if (hash) {
                event.preventDefault();
                Util.scrollToPos(hash,700);
                window.location.hash = hash;
            }
        });
    });
</script>
{% endif %}
