/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    width: 100%;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0 -5px;
    @include media-query($on-palm) {
        margin: 0 20px;
    }
}

.nav-list {
    list-style: none;
    margin: 0;

    .nav-item {
        font-size: 20px;
    }
    @media screen and (min-width: $on-palm + 1px) {
        float: right!important;
        .nav-item {
            text-align: right!important;
            display: inline-block!important;
            line-height: 56px!important;
            margin-left: 20px !important;
        }

        a {
            padding: 0 !important;
            display: inline!important;
        }
    }
    @include media-query($on-palm) {
        display: none;
        margin-left: -$spacing-unit/2;
        margin-right: -$spacing-unit/2;
    }
}

.nav-list.active {
    clear: both;
    display: list-item;
    float: none;

    .nav-item {
        display: block;
        text-align: left;
        line-height: 2;
        margin: 0;
    }

    a {
        display: block;
        padding-left: $spacing-unit*1.5;
    }
}
/**
 * Site footer
 */
.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/2 0;
    text-align: center;
}
/**
 * Page content
 */
.page-content {
    width: 100%;
    margin: 0 auto 2*$spacing-unit;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2, h3, h4{
        color: darken($brand-color, 10%);
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 19px;
    }
}

.post-meta {
    line-height: 1.2;
    font-size: $small-font-size;
    color: $grey-color;
}
/**
 * Comment
 */
.comment-link {
    cursor: pointer;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #eee;
    width: 250px;
    color: $grey-color-dark;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        text-decoration: none;
        background-color: #eee;
    }
}
/**
 * Page Navigation
 */
.page-navigation {
    font-size: 16px;
    display: block;
    width: auto;
    overflow: hidden;
}

.page-navigation {
    a {
        display: block;
        width: 50%;
        margin: 1em 0;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
        text-align: right;
    }
}
/**
 * Category
 */
.category-list {
    list-style: square;
    margin-bottom: $spacing-unit/2;

    a {
        font-size: 18px;
    }
}

.archive-meta {
    position: absolute;
    left: 5px;
    top: 5px;
    color: $grey-color;
    font-size: 12px;
}

.archive-item {
    position: relative;
}

.archive-link-wrapper {
    margin-left: $spacing-unit*1.5;
}
/**
 * Contact Me
 */
.contact-me {
    margin-bottom: $spacing-unit/2;
}
/**
 * Home
 */
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        width: 100%;
        margin-bottom: $spacing-unit/2;
    }
}

a.list-link {
    font-size: 20px;
}

div.left-box {
    width: 500px;
    display: inline-block;
    float: left;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit;
    @include media-query(500px + 130px) {
        width: auto;
        max-width: 500px;
        margin-right: 0;
        float: none;
        display: block;
    }
}

div.right-box {
    width: 130px;
    display: inline-block;
}
/**
 * Docs
 */
.docs-list {
    font-size: 18px;
    counter-reset: sect;
    list-style-type: none;

    a {
        color: $grey-color-dark;

        &::before {
            counter-increment: sect;
            content: counter(sect) ". ";
        }
    }
}
