/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    width: 100%;
}

a.nav-item {
    @include media-query($on-laptop) {
        margin-right: 10px;
    }
    float: right;
    text-align: right;
    line-height: 56px;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    font-weight: 300;
    letter-spacing: -1px;
    @include media-query($on-laptop) {
        margin-left: 10px;
    }
}
/**
 * Site footer
 */
.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/2 0;
    text-align: center;
}
/**
 * Page content
 */
.page-content {
    max-width: $on-laptop;
    margin: 0 auto 2*$spacing-unit;
    padding: $spacing-unit 18px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        display: list-item;
        width: 100%;
        margin-bottom: $spacing-unit/2;
    }

    span {
        text-align: right;
        float: right;
    }
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }
}
/**
 * Comment
 */
.comment-link {
    cursor: pointer;
    text-align: center;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #eee;
    width: 250px;
    color: $grey-color-dark;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
        text-decoration: none;
        background-color: #eee;
    }
}
/**
 * Page Navigation
 */
.page-navigation {
    font-size: 16px;
    display: block;
    width: auto;
    overflow: hidden;
}

.page-navigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.page-navigation .next {
    text-align: right;
}

.plain-link {
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.wrapper {
    max-width: $on-laptop;
    margin-right: auto;
    margin-left: auto;
}

.float-right {
    float: right;
}

.category-box {
    margin-bottom: 15px;
}

.category-list {
    margin-left: 0;
    list-style: square;
}

.contact-me {
    margin-bottom: $spacing-unit/2;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
