<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>
    {% if page.title %}{{ page.title }}{% if page.layout == 'note' %} - {% include label.html %}{% endif %} | {% endif %}{{ site.title }}
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" sizes="256x256">
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <link rel="me" href="https://github.com/{{ site.github_username }}" type="text/html">
    <link rel="me" href="mailto:{{ site.email }}">
    <script src="/assets/js/main.js" defer></script>
</head>
