@mixin clearfix {
    overflow: auto;
    zoom: 1;
}
/**
 * Wrapper
 */
.wrapper {
    @include clearfix;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $spacing-unit/2;
}
