/**
 * Page
 */
.page-content {
    width: 100%;
    margin: 0 auto 2*$spacing-unit;
    padding: $spacing-unit 0;

    .wrapper .post-list {
        margin-left: 0;
    }
    .wrapper .comment-btn {
        margin: 5px auto;
    }
}

.page-heading {
    font-size: 20px;
}
/**
 * Posts
 */
.post {
     > .post-header,
    > .post-content {
        margin-bottom: $spacing-unit;
    }
}

.post-title {
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
}

.post-header {
    .toc > ul > li a {
        @extend ._plain-link;
    }
}
.post-content {
     > h2,
     > h4,
    > h3 {
        color: darken($brand-color, 10%);

        > a {
            color: darken($brand-color, 10%);
        }

        > a:hover {
            color: $brand-color;
        }
    }

    > p {
        line-height: 1.8;
    }
}
