/**
 * Posts
 */
.post {
     > .post-header,
    > .post-content {
        margin-bottom: $spacing-unit;
    }
}

.post-title {
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
}

.post-content {
     > h2,
     > h4,
    > h3 {
        color: darken($brand-color, 10%);

        > a {
            color: darken($brand-color, 10%);
        }

        > a:hover {
            color: $brand-color;
        }
    }

    > p {
        line-height: 1.8;
    }
}
