/**
 * Archive
 */
.archive-item {
    position: relative;

    > .meta {
        position: absolute;
        left: 5px;
        top: 6px;
    }

    > .linkwrapper {
        margin-left: $spacing-unit*2;
    }
}
