
/**
 * Meta
 */
.meta {
    line-height: 1.2;
    font-size: $small-font-size;
    color: $grey-color;

    a {
        @extend ._plain-link;
    }
}
/**
 * Text of List
 */
.category-list > li > a {
    @extend ._plain-link;
    font-size: 18px;
}

.linkwrapper > a {
    @extend ._plain-link;
    font-size: 20px;
}
