---
layout: default
---
{% assign category = site.my_categories | where: "slug", page.category %}
  {% assign category = category[0] %}
  {% if category %}
    {% capture category_content %}
    <a class="plain-link" href="{{ category.url }}">{{ category.name }}</a>
    {% endcapture %}
  {% endif %}
{% if page.toc %}
<script type="text/javascript" defer="defer" src="{{ site.baseurl }}/assets/toc.js"></script>
{% endif %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            作者：<span itemprop="author" itemscope itemtype="http://schema.org/Person">{% if page.author %}<span  itemprop="name">{{ page.author }}</span>{% else %}<a class="plain-link" href="{{ site.baseurl }}/about" itemprop="name">{{ site.author }}</a>{% endif %}</span>
            {% if category_content %} | 分类：{{ category_content }}{% endif %}
        </p>
        <p class="post-meta">日期：<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time></p>
        {% if page.toc %}<div id="toc"></div>{% endif %}
    </header>
    <div class="post-content{% if page.toc %} toc-content{% endif %}" itemprop="articleBody">
        {{ content }}
    </div>
</article>
<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev plain-link" href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next plain-link" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>
{% include comment.html %}
