---
layout: default
---
<script type="text/javascript" defer="defer" src="{{ site.baseurl }}/js/toc.js"></script>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="post-meta">
            By<span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="/about" itemprop="name">dgeibi</a>
            </span>
            on
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </p>
    </header>
    <div id="toc"></div>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>
